/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
}

header .profile-header {
  margin: auto;
  margin-top: 60px;
}

header .profile-header .profile {
  display: flex;
  flex-direction: column;
}

header .profile-header .profile img {
  width: 156px;
  border-radius: 16px;
  margin: auto;
  margin-bottom: 16px;
}

header .profile-header .profile p {
  text-align: center;
}

header .profile-header .profile .profile-name {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #4E5150;
  text-align: center;
  margin-bottom: 8px;
}

header .profile-header .profile .profile-location {
  font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
color: #A9A9A9;
}

header .profile-header .profile-informations .informations {
  display: flex;
}

header .profile-header .profile-informations .informations .info {
  margin: auto 12px;
  margin-top: 24px;
  background-color: #E5E5E5;
  border-radius: 12px;
  padding: 15px 30px;
}

header .profile-header .profile-informations .informations .info .info-number {
  font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #4E5150;
}

header .profile-header .profile-informations .informations .info .info-description {
  font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #BDBDBD;
}

main .main-content {
  margin: 64px 0;
  display: flex;
  flex-direction: column;
}

main .main-content .photo-grid {
  margin: auto;
  display: grid;
  grid-gap: 36px;
}

main .main-content .photo-grid .photo-one {
  width: 299px;
  height: 299px;
  border-radius: 12px;
  grid-column: 1 / 3;
  grid-row: 1;
}

main .main-content .photo-grid .photo-two {
  width: 629px;
  height: 299px;
  border-radius: 12px;
  grid-column: 2 /span 3;
  grid-row: 1;
}

main .main-content .photo-grid .photo-three {
  width: 634px;
  height: 299px;
  border-radius: 12px;
  grid-column: 1 / span 2;
  grid-row: 2;
}

main .main-content .photo-grid .photo-four {
  width: 299px;
  height: 299px;
  border-radius: 12px;
  grid-column: 1;
  grid-row: 3;
}

main .main-content .photo-grid .photo-five {
  width: 299px;
  height: 299px;
  border-radius: 12px;
  grid-column: 2;
  grid-row: 3;
}

main .main-content .photo-grid .photo-six {
  border-radius: 12px;
  width: 297px;
  height: 634px;
  grid-column: 3;
  grid-row: 2 / span 3;
}

footer {
  display: flex;
}

footer p {
  margin: auto;
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #A9A9A9;
}

@media screen and (max-width: 990px)  {

  header .profile-header .profile img {
    width: 101px;
    border-radius: 16px;
    margin-bottom: 11px;
  }

  header .profile-header .profile .profile-name {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 5px;
  }

  header .profile-header .profile .profile-location {
  font-size: 10px;
  line-height: 12px;
  }

  header .profile-header .profile-informations .informations .info {
    margin-top: 12px;
    padding: 10px 15px;
  }

  header .profile-header .profile-informations .informations .info .info-number {
    font-size: 12px;
    line-height: 15px;
  }

  header .profile-header .profile-informations .informations .info .info-description {
    font-size: 12px;
    line-height: 15px;
  }

  main .main-content {
    margin: 40px 0;
  }

  main .main-content .photo-grid {
    grid-gap: 11px;
  }

  main .main-content .photo-grid .photo-one {
    width: 109px;
    height: 109px;
  }

  main .main-content .photo-grid .photo-two {
    width: 229px;
    height: 109px;
  }

  main .main-content .photo-grid .photo-three {
    width: 229px;
    height: 109px;
  }

  main .main-content .photo-grid .photo-four {
    width: 109px;
    height: 109px;
  }

  main .main-content .photo-grid .photo-five {
    width: 109px;
    height: 109px;
  }

  main .main-content .photo-grid .photo-six {
    width: 109px;
    height: 230px;
  }

  footer p {
    margin-bottom: 28px;
  }
}
